.app.dark-mode {
    /* Estilos del modo oscuro */
    background-color: #1a1a1a;
    color: #fff;
  }
  
  .app.dark-mode .navbar {
    background-color: #333;
  }
  
  .app.dark-mode .navbar-brand {
    color: #fff;
  }
  
  .app.dark-mode button {
    background-color: #f05f57;
    color: #fff;
  }
  